<!-- <form [formGroup]="formGrupo">
    <div fxLayout="column" fxLayoutAlign="space-around none">
        <mat-form-field appearance="outline" color="accent" defaultColor="accent">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Insira seu login" formControlName="login"
                style="color: yellow;">
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" style="color: yellow;">
            <button mat-icon-button matSuffix (click)="showPassword()">
                <mat-icon color="accent">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>

        <button mat-button mat-raised-button color="">Entrar</button>
    </div>
</form> -->