<body>
    <div id="formWrapper">
        <div id="form">
            <form [formGroup]="formGrupo">
                <div class="logo">
                    <img src="../../assets/img/logoPNG.png" style="height: 200px; width: 200px;">
                </div>

                <div class="form-item">
                    <p class="formLabel">Usuário</p>
                    <input type="email" name="email" id="email" class="form-style" autocomplete="off"
                        formControlName="login" (click)="focusIn()" (blur)="focusOut()" />
                </div>

                <div class="form-item">
                    <p class="formLabel">Senha</p>
                    <input type="password" name="password" id="password" class="form-style" formControlName="password"
                        (click)="focusIn()" (blur)="focusOut()" />
                    <p>
                        <mat-label class="onHooverSelect" (click)="openDialog(true)"><small>Esqueceu sua senha?</small>
                        </mat-label>
                    </p>
                </div>

                <div class="form-item">
                    <p class="pull-left">
                        <mat-label class="onHooverSelect" (click)="openDialog(false)"><small>Cadastre-se</small>
                        </mat-label>
                    </p>
                    <input type="submit" class="login pull-right" (click)="logar()" value="Entrar">
                    <div class="clear-fix"></div>
                </div>
            </form>
        </div>
    </div>
</body>