<div class="body-login">
    
    <div fxLayout="column" fxLayoutAlign="center center" >
        <div class="login-box">
        <div fxLayout="column" fxLayoutAlign="center center" >
        <h1>CLICK MOTOR</h1>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ex. Example123">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid Username
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Username is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <button mat-button mat-raised-button color="primary">Entrar</button>
    </div>
</div>
</div>
</div>