<div fxLayout="row" fxLayoutAlign="start start">
    <form [formGroup]="form" fxFlex="100">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px">
            <mat-form-field fxFlex="50" [floatLabel]="true">
                <input matInput placeholder="Nome do fornecedor" formControlName="nome">
            </mat-form-field>

            <mat-form-field fxFlex="30" [floatLabel]="true">
                <input matInput placeholder="Nome fantasia" formControlName="codigo">
            </mat-form-field>

            <mat-form-field fxFlex="20" [floatLabel]="true">
                <input matInput placeholder="E-mail" type="email" formControlName="quantidade">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px">
            <mat-form-field fxFlex="20" [floatLabel]="true">
                <input matInput placeholder="Preço" formControlName="preco">
            </mat-form-field>

            <mat-form-field fxFlex="50" [floatLabel]="true">
                <input matInput placeholder="fornecedor" formControlName="fornecedor">
            </mat-form-field>

            <mat-form-field fxFlex="30" [floatLabel]="true">
                <input matInput placeholder="telefone" formControlName="telefone">
            </mat-form-field>
        </div>
    </form>
</div>